aiohttp
altair
beautifulsoup4
cohere
faiss-cpu
huggingface-hub
ipykernel
ipython
jupyterlab
langchain
langchain-community
langchain-core
langchain-openai
lxml
matplotlib
mediapipe
numpy
nltk
openai
pandas
python-dotenv
requests
rank-bm25
scikit-learn
sentence-transformers
streamlit
tqdm
transformers
pydeck
python-json-logger
pytz
